<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/467f72aceb59cffb04e71dd5d419e78a.jpg"
         class="img-fluid"> 
    </div>
    <div class="col-xs-12 col-sm-2 com-md-2 col-lg-2">
        <p>Iba;ez Florencia </p>
        <p>Full stack Junior </p>                    
    </div>
    <div class="col-xs-12 col-sm-8 com-md-8 col-lg-8">
        <span>
            <h1>Acerca de Mi</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
             Quos maiores tempora expedita dolore veniam quisquam perspiciatis 
             ipsum sint aperiam sunt veritatis, perferendis autem 
             fuga quibusdam eum obcaecati? Assumenda, ex id. 
            </p>
        </span>
    </div>
</div>>
